.top-container,
.bottom-container {    
    width: 100vw;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
}

.top-container { 
    height: 30vw;    
}

.bottom-container {
    height: auto;
}

.box-item-top {
    float: left;
    width: 33.33vw;
    padding: 50px;
    text-align: center;
    background-color: red;
}

.box-item-bottom {
    float: left;
    width: 50vw;
    padding: 50px;
    text-align: center;
    background-color: blue;
}

