.top-container {    
    width: 100vw;  
    height: 30vw;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;    
}

.bottom-container {    
    width: 100vw; 
    height: 70vw;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;    
}

.box-item-top {
    width: 33.33vw;
    height: 27vw;
    text-align: center;    
    background-color: red;
    margin: 0px 10px 0px 20px;
}

.box-item-bottom {
    width: 50vw;
    height: 67vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin: 0px 10px 0px 20px;
}

h1 {
    font-size: 150px;
    font-weight: bold;
}
